.activity {
    display: grid;
    grid-template-columns: 1fr, 264px;
    grid-template-areas: 
    'main aside';
    column-gap: 32px;
    justify-content: stretch;

    @media (max-width: 850px) {
        grid-template-areas: 
            'aside'
            'main';
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    .activity__aside {
        grid-area: aside;
    }
}